{% extends 'index.html' %}

{% block title %}
    {{project_name}}
{% endblock title  %}

{% block content %}
<div class="text1">
    <h1>Chat Wave Terms of Use</h1>

    <p>Welcome to Chat Wave, an exciting variant of online chat connecting users globally. To ensure a secure and enjoyable experience, we ask users to comply with the following terms:</p>
    
    <ol>
        <li><strong>Age Verification:</strong> You must be 18 years or older to access Chat Wave. By using this platform, you confirm your eligibility. This age restriction is in place to prioritize the safety of our users and create a secure environment.</li>
    
        <li><strong>Monitoring and Privacy:</strong> Please be aware that chats on Chat Wave may be monitored to uphold community guidelines. However, conversations are not saved or stored. We respect your privacy, and monitoring is solely for maintaining a safe and respectful space for all users.</li>
    
        <li><strong>Respectful Conduct:</strong> Users are expected to engage in conversations with respect and courtesy. Harassment, offensive language, or inappropriate behavior will not be tolerated. We encourage open and positive communication to foster a welcoming atmosphere.</li>
    
        <li><strong>Content Guidelines:</strong> Users are responsible for the content shared during conversations. Any material violating local, national, or international laws is strictly prohibited. This includes explicit content, hate speech, and any form of illegal activities.</li>
    </ol>
    
    <h2>Disclaimer</h2>
    
    <p>Chat Wave is an online platform created for user interactions. The owner of Chat Wave holds no responsibility for the content exchanged between users. While we strive to maintain a safe environment, users participate at their own risk. Monitoring is implemented solely to enforce community guidelines. By using Chat Wave, you acknowledge and agree to abide by these terms. The owner reserves the right to take appropriate action against users violating these terms or engaging in behavior detrimental to the community. Enjoy your time on Chat Wave responsibly and respectfully.</p>
</div>
{% endblock content %}